.book {
  margin: 0 0 36px;
  height: 160px;
  padding: 8px 24px;
  list-style: none;
  display: flex;
  align-items: flex-start;

  &-thumbnail {
    flex-basis: 120px;
    width: 120px;
    max-height: 160px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    padding: 4px;
    margin-right: 24px;
  }

  &-name {
    width: 240px;
    flex-basis: 240px;
    flex-shrink: 0;
    position: relative;
    height: 100%;
    
    h2 {
      margin: 0;
      padding: 0 0 16px;
      font-weight: normal;
    }

    p {
      padding: 0;
      margin: 0;

      &.book-loaned {
        font-size: 12px;
        color: #58585B;
        position: absolute;
        bottom: 0;
      }
    }
  }

  &-details {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin: 0;
      padding: 0 0 16px 0;
      line-height: 1.3em;
      max-height: 100px;
      overflow: auto;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;

        button {
          background: 0;
          border: 0;
          padding: 0;
          font-size: 16px;
          color: #004AAE;
          margin-right: 24px;
          display: flex;
          align-items: center;
          cursor: pointer;

          i {
            margin-right: 8px;
            width: 20px;
            height: 20px;
          }

          &:hover {
            color: #5f5f5f;
    
            path:first-child {
              fill: #5f5f5f;
            }
          }
        }
      }
    }


  }

}