.library {
  box-sizing: border-box;
  height: calc(100vh - 80px);
  overflow: auto;
  background: #fff;

  &-subheader {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-weight: normal;
      display: inline-block;
      margin-right: 24px;
    }
  }

  &-books {
    margin: 0;
    padding: 0;
  }
}
