.library-book {
  margin: 0 0 36px;
  height: 170px;
  padding: 8px 24px;
  list-style: none;
  display: flex;
  align-items: flex-start;

  &-thumbnail {
    flex: 0 0 120px;
    width: 120px;
    max-height: 160px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    padding: 4px;
    margin-right: 24px;
  }

  &-name {
    width: 240px;
    flex: 0 0 240px;
    position: relative;
    height: 100%;
    padding-right: 16px;
    
    h2 {
      margin: 0;
      padding: 0 0 16px;
      font-weight: normal;
      font-size: 18px;
    }

    p {
      padding: 0;
      margin: 0;
      font-size: 14px;
    }

    .library-book-action {
      font-size: 12px;
      position: absolute;
      bottom: 0;

      a {
        color: #004AAE;
        text-decoration: none;
      }
    }

  }

  &-details {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin: 0;
      padding: 0 0 16px 0;
      font-size: 14px;
      line-height: 1.3em;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;

        button, a {
          background: 0;
          border: 0;
          padding: 0;
          font-size: 16px;
          color: #004AAE;
          margin-right: 24px;
          display: flex;
          align-items: center;
          cursor: pointer;
          text-decoration: none;

          i {
            margin-right: 8px;
            width: 20px;
            height: 20px;
          }

          &:hover {
            color: #5f5f5f;
    
            .background {
              fill: #5f5f5f;
            }
          }
        }
      }
    }


  }

}