.library {
  box-sizing: border-box;
  height: calc(100vh - 80px);
  overflow: auto;

  &-meta {
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      background: 0;
      border: 0;
      padding: 0;
      font-size: 16px;
      color: #004AAE;
      display: flex;
      align-items: center;
      cursor: pointer;

      i {
        margin-right: 8px;
        width: 20px;
        height: 20px;
      }

      &:hover {
        color: #5f5f5f;

        .add-button-background {
          fill: #5f5f5f;
        }
      }
    }
  }

  &-books {
    margin: 0;
    padding: 0;
  }

  &-empty {
    padding-top: 200px;
    text-align: center;
    font-size: 24px;
  }

  &-loading {
    padding-top: 200px;
    text-align: center;
    font-size: 24px;
  }
}
