.library {
  box-sizing: border-box;
  height: calc(100vh - 80px);
  overflow: auto;

  &-meta {
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      background: 0;
      border: 0;
      padding: 0;
      font-size: 14px;
      color: #004BAF;
      display: flex;
      align-items: center;
      cursor: pointer;

      i {
        margin-right: 8px;
        width: 16px;
        height: 16px;
      }
    }
  }

  &-books {
    margin: 0;
    padding: 0;
  }
}
